/* All the styles can go in here */
* {
  margin: 0px;
}
body {
  background-color: #892be2a9;
  font-family: "Open Sans", sans-serif;
}
#logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.row img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  margin-bottom: 10px;
}
.card img {
  width: 100%;
}
/* Ex 8) Add to the Welcome Summer destinations section a large shadow */
.welcome-summer-wrap .col .card {
  box-shadow: whitesmoke 0px 0px 10px 10px;
  margin: 20px;
}
/* is 10px a large enough? and white shadow is soooo coooool */
